footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer nav ul li {
    margin: 0 10px;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  
  .redes-sociales a {
    margin: 0 5px;
  }